<div class="miejscaParkingowe">
    <div class="tytul">
        <mat-toolbar>
            <span>Wybierz miejsce parkingowe</span>
            <span class="informacja">Wybierz zakres czasowy rezerwacji</span>
        </mat-toolbar>
    </div>
    <form [formGroup]="range" (ngSubmit)="SprawdzDate()">
        <div class="czas">
            <div class="od">
                <mat-label>Od: </mat-label>
                <input matInput type="datetime-local" formControlName="start" class="dateTimeInput">
            </div>

            <div class="do">
                <mat-label>Do: </mat-label>
                <input matInput type="datetime-local" formControlName="end" class="dateTimeInput">
            </div>
            <button type=" submit" mat-button>Wybierz</button>
        </div>

    </form>

    <mat-grid-list cols="6" rowHeight="1%:1,5%" gutterSize="30px" class="miejsca" >
        <mat-grid-tile *ngFor="let item of miejsca" [ngClass]="{'mat-grid-tile-inwalidzkie': item.rozmiarMiejscaInwalidzkiego != null}">
                <p class="numer"(click)="jakasMetoda(item.idMiejsca)" >{{item.idMiejsca}}</p>
                <br><br>
                <p> {{item.rozmiarMiejscaInwalidzkiego}}</p>

        </mat-grid-tile>
    </mat-grid-list>
</div>