@model DAL.Entity.Parking
@{
    ViewData["Title"] = "Create";
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nazwa" class="control-label"></label>
                <input asp-for="Nazwa" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Adres" class="control-label"></label>
                <input asp-for="Adres" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IdMiasta" class="control-label"></label>
                <select asp-for="IdMiasta" class="form-control" asp-items="ViewBag.IdMiasta"></select>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="IdMiasta" class="control-label"></label>
                <select asp-for="IdMiasta" class="form-control" asp-items="ViewBag.IdMiasta"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}